<header class="site-header">
  <a href="{{ '/' | relative_url }}" class="site-header-logo zine-title" title="{{ site.name }}">{{ site.name }}</a>
  <nav class="site-header-nav" aria-label="Site">
    <a class="tag tag-btn" href="{{ '/' | relative_url }}">Index</a>
    <a class="tag tag-btn {% if page.url == '/tags' %}is-active{% endif %}" href="{{ 'tags' | relative_url }}">Tags</a>
    {% if site.about_enabled == true %}
      <a class="tag tag-btn {% if page.url == '/about' %}is-active{% endif %}" href="{{ 'about' | relative_url }}">About</a>
    {% endif %}
    {% if site.rss_enabled == true %}
      <a class="tag tag-btn" href="{{ 'feed.xml' | relative_url }}">RSS</a>
    {% endif %}
  </nav>
</header>
