---
layout: default
---

<article class="article">
  <header class="article-header">
    {% if page.tags.size > 0 %}
      <p class="article-tags">
        {% for tag in page.tags %}
          <a class="tag" href="{{ 'tag/' | relative_url }}{{ tag }}" title="See all posts tagged {% include tag-name.html tag=tag %}">{% include tag-name.html tag=tag %}</a>
        {% endfor %}
      </p>
    {% endif %}
    <h1 class="article-title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="article-description">{{ page.description }}</p>
    {% endif %}
    <p class="article-meta">{{ page.date | date: "%Y.%m.%d" }} · {% include reading-time.html post=page %} min</p>
  </header>

  <div class="article-layout">
    <div class="article-main">
      <div class="article-content">
        {{ content }}
      </div>
    </div>

    <aside class="article-side">
      <div class="article-side-block">
        <div class="label">Published</div>
        <p>{{ page.date | date: "%Y.%m.%d" }}</p>
      </div>
      <div class="article-side-block">
        <div class="label">Share</div>
        {% assign page_title = page.title | cgi_escape | truncate: 110 %}
        {% capture twitter-share-text %}{{ page_title }} - {{ page.url | absolute_url }}{% if site.social.twitter %} by @{{ site.social.twitter }}{% endif %}{% endcapture %}
        <ul class="article-share">
          <li><a href="https://twitter.com/intent/tweet?text={{ twitter-share-text | uri_escape }}" rel="noreferrer noopener" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" rel="noreferrer noopener" target="_blank">Facebook</a></li>
        </ul>
      </div>
      {% if page.previous or page.next %}
        <div class="article-side-block">
          <div class="label">More</div>
          <ul class="article-adjacent">
            {% if page.next %}
              <li><span class="label">Newer</span><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a></li>
            {% endif %}
            {% if page.previous %}
              <li><span class="label">Older</span><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </aside>
  </div>

  {% if site.discus_identifier %}
    <div class="article-comments">
      <div id="disqus_thread"></div>
      <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
  {% endif %}
</article>
